{{ block "home" . }}
<!DOCTYPE >
<html>
  <head>
    <title>Reading</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
  </head>
  <body>
    <div class="content">
      <h1>LETTER XVI</h1>
      <p>
        &emsp;It is clear to you, I know, Lucilius, that no one can lead a happy
        life, or even one that is bearable, without the pursuit of wisdom, and
        that the perfection of wisdom is what makes the happy life, although
        even the beginnings of wisdom make life bearable. Yet this conviction,
        clear as it is, needs to be strengthened and given deeper roots
        through daily reflection; making noble resolutions is not as important
        as keeping the resolutions you have made already. You have to
        persevere and fortify your pertinacity until the will to good becomes
        a disposition to good. So you needn't go in for all this long-winded
        protestation or say any more on the subject – I'm well aware that
        you've made a great deal of progress. I realize the feelings that
        prompt you to put these things in your letter, and there is no
        pretence or speciousness about them. But – to give you my honest
        opinion – at this stage, although I have great hopes of you, I do not
        yet feel quite confident about you. And I should like you to adopt the
        same attitude: you've no grounds for forming a ready, hasty belief in
        yourself. Carry out a searching analysis and close scrutiny of
        yourself in all sorts of different lights. Consider above all else
        whether you've advanced in philosophy or just in actual years.
      </p>
    </div>
  </body>
</html>
{{ end }}
